<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="icon" href="./img/lock.png">

    <title>Ridl</title>
</head>
<body>
  <div id="app">
    <div class="container">

      <!-- HERO -->
      <div class="row front-page">
        <div>
          <h3>
            <img src="./img/lock.png" width="32px">
            Ridl
          </h3>
          <p>Encrypt your messages using a riddle.<br>Share with whoever you want.</p>
        </div>
      </div>
      <!-- /HERO -->
      
      <div v-if="solvePage">
        <h5><strong>Question: </strong>{{ question }}</h5>

        <form @submit.prevent="decryptRiddle">
          <div>
            <label>What's the answer?</label>
            <input class="u-full-width" type="text" placeholder="42?" v-model="answer">
          </div>
    
          <input class="button-primary" type="submit" value="Decrypt!">
        </form>


        <transition name="fade">
        <div v-if="error" class="error">
          An error occurred while decrypting your riddle, please retry.
        </div>
        <div v-if="message && !error" class="success">
          {{ message }}
        </div>
      </transition>
        
      </div>
      <div v-else>
        <!-- FORM -->
        <form @submit.prevent="createRiddle">
          <div>
            <label>Your question</label>
            <input class="u-full-width" type="text" placeholder="What's the answer?" v-model="question">
          </div>
          <div>
            <label>The answer</label>
            <input class="u-full-width" type="text" placeholder="42" v-model="answer">
          </div>
          <div>
            <label>Your message</label>
            <textarea class="u-full-width" type="text" placeholder="Super secret message!" v-model="message"></textarea>
          </div>


          <label class="example-send-yourself-copy">
            <input type="checkbox" v-model="ignoreCase">
            <span class="label-body">Ignore Case</span>
          </label>

          <label class="example-send-yourself-copy">
            <input type="checkbox" v-model="ignoreSpaces">
            <span class="label-body">Ignore Spaces</span>
          </label>
         
          <input class="button-primary" type="submit" value="RidlIt!">
        </form>
        <!-- /FORM -->
        <transition name="fade">
        <div v-if="error" class="error">
          An error occurred while creating your riddle, please retry.
        </div>
        <div v-if="id && !error">
            <input id="share-link" :value="shareUrl" readonly>
            <button id="share" @click="copy">
              Copy Link
            </button>
        </div>
      </transition>

      </div>
    
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./js/app.js"></script>
</body>
</html>