.front-page {
    margin: 15% 0px;
}

.error {
    padding: 2em;
    background-color: lightcoral;
    border-radius: 10px;
}

.success {
    padding: 2em;
    background-color: lightgreen;
    border-radius: 10px;
}